<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>769118520830-8bbmuagpp294euu17ekbu0hq524ouktj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.769118520830-8bbmuagpp294euu17ekbu0hq524ouktj</string>
	<key>API_KEY</key>
	<string>AIzaSyAjTiS171YMq3ld-u7n0IAK3ExGtUMIpGk</string>
	<key>GCM_SENDER_ID</key>
	<string>769118520830</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>VA-Team.Digitales-Lager</string>
	<key>PROJECT_ID</key>
	<string>abu-app-b668d</string>
	<key>STORAGE_BUCKET</key>
	<string>abu-app-b668d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:769118520830:ios:954ad1d7355f63f18e6caf</string>
	<key>DATABASE_URL</key>
	<string>https://abu-app-b668d-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>